.root {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  height: 70vh;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}