.root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 1000px) {
    .img {
      width: 100%;
      margin-top: 20px;
    }
    .text {
      width: 100%;
    }
  }
}

.text {
  width: 50%;
}

.img {
  width: 35%;
  border-radius: 5px;
}

.inner {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  img {
    width: 24px;
    margin-right: 20px;
  }
}